{
  "youxia":
  {
    "sensu_username":"admin",
    "sensu_password":"seqware",
    "sensu_ip_address":"localhost",
    "sensu_port":"4567",
    "managed_tag":"{{fleet_name}}",
    "aws_ssh_key":"{{path_to_key}}",
    "aws_key_name":"{{name_of_key}}",
    "region":"{{aws_region}}{{^aws_region}}us-east-1{{/aws_region}}",
    "zone":"{{aws_zones}}{{^aws_zones}}us-east-1a,us-east-1b,us-east-1c,us-east-1d,us-east-1e{{/aws_zones}}",
	"openstack_username":"{{os_username}}",
	"openstack_password":"{{os_password}}",
	"openstack_endpoint":"{{os_endpoint}}",
	"openstack_key_name":"{{name_of_key}}",
	"openstack_ssh_key":"{{path_to_key}}",
	"openstack_region":"{{os_region}}",
	"openstack_zone":"{{os_zone}}",
	"azure_ssh_key":"{{path_to_key}}",
	"azure_subscription_id":"{{az_subscription_id}}",
	"azure_keystore_location":"{{az_keystore_location}}{{^az_keystore_location}}/home/ubuntu/.keystore/launcher.jks{{/az_keystore_location}}",
	"azure_keystore_password":"{{az_keystore_password}}{{^az_keystore_password}}launcherKeystore{{/az_keystore_password}}",
	"azure_active_directory_username":"{{az_ad_user}}",
	"azure_active_directory_password":"{{az_ad_password}}",
	"azure_active_directory_tenant_id":"{{az_ad_tenant_id}}",
	"azure_active_directory_client_id":"{{az_ad_client_id}}",
	"azure_storage_account_name":"{{az_storage_account}}",
	"azure_storage_account_key":"{{az_storage_account_key}}",
    "deployer":
    {
      "ami_image":"{{image_id}}",
      "instance_type":"{{instance_type}}",
      "security_group":"{{security_group}}",
      "product":"Linux/UNIX",
      "disable_sensu_server":true
    },
    "deployer_openstack":
    {
      "flavor":"{{instance_type}}",
      "min_cores":4,
      "min_ram":16384,
      "image_id":"{{image_id}}",
      "security_group":"{{security_group}}",
      "network_id":"{{os_network_id}}",
      "arbitrary_wait":200000
    },
	"deployer_azure":
    {
      "flavor":"{{instance_type}}",
      "image_name":"{{image_id}}",
      "location":"{{az_location}}{{^az_location}}East US 2{{/az_location}}",
      "virtual_network":"{{az_virtual_network}}",
      "arbitrary_wait":200000
    }
  },
  "params":
  {
    "SENSU_SERVER_IP_ADDRESS": "{{sensu_server_ip_address}}",
    "FLEET_NAME": "{{fleet_name}}",
    "aws_key": "{{aws_key}}",
    "aws_secret_key": "{{aws_secret_key}}",
    "seqware_version": "1.1.1",
    "workflow_name": "HelloWorld",
    "install_workflow": "true",
    "test_workflow": false,
    "queueHost": "{{queue_host}}",
    "queueName": "pancancer_arch_3",
    "lvm_device_whitelist": "{{lvm_devices}}",
    "single_node_lvm": true,
    "pancancer_arch3_version": "1.1-rc.3",
    "seqware_engine":"whitestar-parallel",
    "seqware_use_custom_settings":false,
    "azure":{{use_azure}},
    "openstack":{{use_openstack}}
  },
  "consonance":
  {
    "rabbit":
    {
      "rabbitMQHost":"localhost",
      "rabbitMQUser":"queue_user",
      "rabbitMQPass":"queue",
      "rabbitMQQueueName":"pancancer_arch_3"
    },
    "database":
    {
      "postgresHost":"127.0.0.1",
      "postgresUser":"queue_user",
      "postgresPass":"queue",
      "postgresDBName":"queue_status"
    },
    "generator":
    {
      "results":"results.txt",
      "check_previous_job_hash":""
    },
    "report":
    {
      "namespace":"pipboy"
    },
    "coordinator":
    {
      "max_seconds_before_lost":3600
    },
    "provision":
    {
      "max_running_containers":{{max_fleet_size}},
      "youxia_deployer_parameters":"--max-spot-price {{spot_price}}{{^spot_price}}0.001{{/spot_price}} --batch-size 3 --ansible-playbook /home/ubuntu/architecture-setup/container-host-bag/install.yml -e /home/ubuntu/params.json --server-tag-file server-tags.json {{youxia_env_opt}}",
      "youxia_reaper_parameters":"{{youxia_env_opt}}",
      "reap_failed_workers":""
    }
  }
}
